#category-list-container {
	display: flex;
	margin-left: 10%;
	width: 10%;
	height: calc(100vh - 4rem);
	position: absolute;
}

#category-list-body {
	border: solid #7a62acde;
	display: table-cell;
	width: 100%;
}

#category-list-title {
	color: turquoise;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100%;
}

.category-name {
	display: flex;
	width: 70%;
	align-items: center;
	justify-content: center;
	height: 6%;
	background: #3f3f3f;
	color: rgb(252, 0, 0);
	border: none;
	position: relative;
	font-size: 80%;
	cursor: pointer;
	margin: 15%;
}

.category-name:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
