#Footer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 30px;
	font-size: 15px;
	border-top: solid black 2px;
	font-weight: bold;
	/* position: sticky; */
	bottom: 0;
}
