#header-container {
	display: flex;

	border: solid #7a62acde;
	height: 300px;

	justify-content: center;
	align-items: center;
	/* border-bottom: solid #000000de 1.5px; */
	/* height: 60px; */

}
#header-body {
	display: flex;
	padding: 0px;
	justify-content: center;
	align-items: center;
	/* height: 300px; */
}

#nugathesam-title {
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 0, 0);
	margin: auto;
	padding-left: 110px;
}
#makefights-body {
	display: flex;
	width: 100px;
}
#makefights-title {
	display: flex;
	position: absolute;
	top: 21px;
	right: 20%;
	color: rgb(0, 0, 0);
	margin-right: 40px;
}

#login-button {
	display: flex;
	position: absolute;
	top: 21px;
	right: 10%;
	color: rgb(0, 0, 0);
}

#mypage-title {
	display: flex;
	position: absolute;
	margin-right: 40px;
	top: 21px;
	right: 9%;
	color: rgb(0, 0, 0);
}

#logout-button {
	display: flex;

	position: absolute;
	top: 21px;
	right: 6%;
	color: rgb(0, 0, 0);
}
