.hot-box-container {
	display: table;
	margin: 0 auto;
	margin-top: 30px;
	width: 60%;
	height: 280px;
}
.hot-box-body {
	display: table-cell;
	height: 100%;
	align-items: center;
	justify-content: center;
	/* border-bottom: solid black 2px; */
}
.hot-title {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
}

.hot-Fight-name {
	width: 220px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	height: 150px;
	background: -webkit-linear-gradient(
			rgba(135, 60, 255, 1),
			rgba(135, 60, 255, 0) 0%
		),
		-webkit-linear-gradient(-45deg, rgba(255, 38, 38, 0.9) 50%, rgb(11, 56, 255)
					0%);

	color: rgb(255, 255, 255);
	border: none;
	position: relative;
	font-size: 100%;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 20px;
	transition: all 0.5s;
}

.hot-Fight-name:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

	border: solid rgb(75, 75, 75) 2px;
	transition: all 0.5s;
}

.hot-Fight-vs {
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
}

.hot-fight-left-title {
	display: flex;
	position: absolute;
	top: 15%;
	left: 10%;
	box-sizing: border-box;
	font-weight: bold;
}
.hot-fight-right-title {
	color: rgb(255, 255, 255);
	display: flex;
	position: absolute;
	bottom: 15%;
	right: 10%;
	font-weight: bold;
}

.hot-fight-left-votes {
	display: flex;
	position: absolute;
	top: 30%;
	left: 10%;
	color: rgb(255, 255, 255);
}
.hot-fight-right-votes {
	display: flex;
	position: absolute;

	bottom: 30%;
	right: 10%;
	color: rgb(255, 255, 255);
}
