/* .loadingModal {
	display: flex;
	border: 1px solid blue;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 25%;
	position: fixed;
	z-index: 2;
	top: 30%;
	left: 50%;
	margin-left: -20%;
	background-color: pink;
} */

#whiteBackground {
	position: absolute;
	width: 3000px;
	height: 1000px;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1;
}

.Loadingimg {
	position: fixed;
	top: 33%;
	left: 40%;
}
