.loginModal-container {
	display: grid;
	place-items: center;
	width: 100%;
	height: 80%;
}
.loginModal {
	display: flex;
	flex-direction: column;
	border: solid black 2px;
	width: 500px;
	height: 450px;
	border-radius: 15%;
}

.LoginLogoBox {
	display: flex;

	justify-content: center;
}
.LoginLogo {
	display: flex;
}
.loginContent {
	color: aqua;
	margin-top: 70px;
}
.logininput {
	margin-bottom: 20px;
	border: none;
	border-bottom: solid black 2px;
}
.loginbutton {
}
.login-signup {
}

.loginclose {
}
.LoadingBackground {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
