.loginModal-container {
	display: grid;
	place-items: center;
	width: 100%;
	height: 80%;
}
.loginModal {
	display: flex;
	flex-direction: column;
	border: solid black 2px;
	width: 500px;
	height: 450px;
	background: #f4f4f4;
}

.LoginLogoBox {
	display: flex;

	justify-content: center;
}
.LoginLogo {
	display: flex;
}
.loginContent {
	color: aqua;
	margin-top: 30px;
}
.logininput {
	margin-bottom: 20px;
	border: none;
	border-bottom: solid black 2px;
	width: 45%;
	height: 15%;
	background: none;
}
.loginbutton {
	background: none;
	border: none;
}
.login-signup {
}

.loginclose {
}
.LoadingBackground {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
.greyBackground {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #9b0000;
	top: 0;
	left: 0;
	z-index: 1;
}
