.loginModal-container {
	display: grid;
	place-items: center;
	width: 100%;
	height: 80%;
}
.loginModal {
	display: flex;
	flex-direction: column;
	border: solid black 5px;
	width: 500px;
	height: 550px;
	background: #fdf6f6;
	border-radius: 5%;
	margin-top: 100px;
}

.LoginLogoBox {
	display: flex;

	justify-content: center;
}
.LoginLogo {
	display: flex;
}
.loginContent {
	color: aqua;
	margin-top: 10px;
}
.logininput {
	margin-bottom: 20px;
	border: none;
	border-bottom: solid black 2px;
	width: 45%;
	height: 15%;
	background: none;
	padding-left: 10px;
}
.loginbutton {
	padding-top: 7px;
	background: none;
	border: none;
	cursor: pointer;
}
.login-signup {
	margin-top: 15px;
	cursor: pointer;
}

.loginclose {
	padding-top: 25px;
	cursor: pointer;
}

.LoadingBackground {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
.greyBackground {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #9b0000;
	top: 0;
	left: 0;
	z-index: 1;
}
