.ModalFight {
	display: flex;
	left: 20%;
	justify-content: center;
	align-items: center;
	/* display: none; */
	position: fixed;
	z-index: 1;
	width: 60%;
	height: 15%;
	top: 30%;
	background-color: rgba(255, 130, 130, 1);
}

.ModalFight-body {
	color: red;
}

.ModalFight-title {
	color: red;
}
.ModalFight-text {
	color: red;
}

.ModalFightButton {
	color: rgb(44, 175, 72);
}
