.mypage-userInfo-container {
	color: tomato;
}

.mypage-userInfo-body {
	color: rosybrown;
}

.mypage-userInfo-title {
	color: blue;
}

.mypage-userInfo-text {
	color: blueviolet;
}
.mypage-userInfo-changeButton {
	color: aqua;
}
