.signUpModalContainer {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}
.signUpModal {
	display: flex;
	flex-direction: column;
	border: solid black 2px;
	width: 500px;
	height: 550px;
	background: #fdf6f6;
	border-radius: 5%;
	margin-top: -37px;
	align-items: center;
}

.signup-logo {
	font-size: 30px;
	padding: 80px;
	font-weight: bold;
}

.emailContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nicknameContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.passwordContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkPassContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkIcon {
	color: green;
	margin-top: -10px;
	margin-left: 5px;
}
.closeIcon {
	color: #c62828;
	margin-top: -10px;
	margin-left: 5px;
}
.signupInputValue1 {
	margin-bottom: 20px;
	border: none;
	border-bottom: solid black 2px;
	width: 82%;
	height: 15%;
	background: none;
	margin-left: -26px;
}
.signupInputValue {
	margin-bottom: 20px;
	border: none;
	border-bottom: solid black 2px;
	width: 100%;
	height: 15%;
	background: none;
}
.checkButton {
	background: none;
	position: absolute;
	border: none;
	margin-left: 260px;
	margin-top: -10px;
	cursor: pointer;
}
.closeBtn {
	margin-top: 30px;
	cursor: pointer;
}
.signUpBtn {
	margin-top: 10px;
	cursor: pointer;
}

.greyBackground-Signup {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #021f7c;
	top: 0;
	left: 0;
	z-index: 1;
}

.whiteBackground-Signup {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #fff;
	top: 0;
	left: 0;
	z-index: 1;
}
