.daddyFightContainer {
	width: 100%;
}
.viewComment-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 140vh;
	overflow-y: scroll;
}
.comment-container {
	width: 55%;
	border-top: 2px solid #e0e0e0;
	padding-top: 20px;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.comment-name-left {
	padding-top: 5px;
	padding-left: 5px;
	width: 40%;
	position: relative;
	margin-bottom: 5px;
	background: salmon;
	border-radius: 10px;
}

.comment-nickname-left {
	display: block;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
	margin-top: 8px;
}

.comment-text-left {
	display: block;
	font-size: 13px;
	padding-left: 4px;
	margin-bottom: 8px;
	text-align: left;
}

.comment-time-left {
	display: block;
	font-size: 6px;
	text-align: right;
	padding-right: 4px;
	margin-bottom: 4px;
}
.comment-votes-left {
	display: inline-block;
	width: 50%;
	font-weight: bold;
}
.comment-like-left {
	display: block;
	font-weight: bold;
	text-align: center;
	padding-right: 5px;
}
/* width: 40%;
	position: relative;
	border: 1px solid red;
	margin-bottom: 5px;
	background: salmon;
	border-radius: 10px; */

.comment-name-right {
	position: relative;
	left: 58.5%;
	width: 40%;
	margin-bottom: 5px;
	background: #4e70d6;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 5px;
}

.comment-nickname-right {
	display: block;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	padding-left: 4px;
	margin-top: 8px;
}

.comment-text-right {
	display: block;
	font-size: 13px;
	padding-left: 4px;
	margin-bottom: 8px;
	text-align: left;
}
.comment-time-right {
	display: block;
	font-size: 6px;
	text-align: right;
	padding-right: 4px;
	margin-bottom: 4px;
}

.comment-votes-right {
	display: inline-block;
	width: 50%;
	font-weight: bold;
}
.comment-like-right {
	display: block;
	font-weight: bold;
	text-align: center;
	padding-right: 5px;
}
.comment-modify-right {
	background: none;
	border: none;
	margin-bottom: 5px;
}
.comment-modify-left {
	background: none;
	border: none;
	margin-bottom: 5px;
}
.deleteBtn {
	background: none;
	border: none;
	margin-bottom: 5px;
}
.comments-recommand-btn {
	background: none;
	border: none;
	margin-bottom: 5px;
}
.comment-modify-right:hover {
	color: purple;
	font-weight: bold;
}
.comment-modify-left:hover {
	color: purple;
	font-weight: bold;
}
.deleteBtn:hover {
	color: purple;
	font-weight: bold;
}
.comments-recommand-btn:hover {
	color: purple;
	font-weight: bold;
}

.comments-png {
	margin-bottom: 40px;
}

.pleasecomment-png {
	margin-top: 70px;
}
