body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.fightContainer {
	display: flex;
	justify-content: center;
}

.leftContainer {
	display: flex;
	background: blue;
}

/* .leftFight {
}

.leftVote {
}

.vs {
} */

.rightContainer {
	display: flex;
	background: red;
}

/* .rightFight {
}

.rightVote {
} */
