body {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100vh;
	max-width: 2000px;
	box-sizing: border-box;
	overflow-x: hidden;
}
#Master body {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100vh;
	max-width: 2000px;
}
a {
	cursor: pointer;
	text-decoration: none;
}

button {
	cursor: pointer;
}

.fightContainer {
	display: flex;
	justify-content: center;
}

.leftContainer {
	display: flex;
	background: blue;
}

.rightContainer {
	display: flex;
	background: red;
}
