* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
.hot-all {
	display: flex;
}
.hot-box-container {
	margin: auto;
	display: flex;
	align-items: center;
	border: solid 2px green;
	width: 60%;
	height: 1000px;
	flex-wrap: wrap;
}
.hot-box {
	width: 240px;
	margin: 20px;
	height: 150px;
	background: #3f3f3f;
	color: #fff;
	border: none;
	position: relative;
	font-size: 2em;
	cursor: pointer;
	outline: none;
	float: left;
}
.hot-box:hover {
	background: black;
}
